# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# imo unnecessary #
#*.xml # wird evtl. mal später benötigt #
#manifest.mf
#*.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Softwareentwicklung/20201217_HelloWorld/nbproject/private/
/Softwareentwicklung/20201217_HelloWorld/build/
/Softwareentwicklung/20201217 - HelloLorenz/nbproject/private/
/Softwareentwicklung/Wuerfelspiel/nbproject/private/
/Softwareentwicklung/Wuerfelspiel/build/
/Softwareentwicklung/Vererbung/Vermietung/nbproject/private/
/Softwareentwicklung/Vererbung/Hotel/nbproject/private/
/Softwareentwicklung/Vererbung/Hotel/build/
/Softwareentwicklung/Vererbung/WohnungsVermietung/nbproject/private/
/Softwareentwicklung/Vererbung/WohnungsVermietung/build/
/JavaApplication31/nbproject/private/
/Vererbung/Kontoverwaltung/nbproject/private/
/Vererbung/Kontoverwaltung/build/
/Vererbung/Konto/dist/
/Vererbung/GeometrischeFiguren/nbproject/private/
/Vererbung/GeometrischeFiguren/build/
/abstrakte Klassen/JavaApplication34/nbproject/private/
/abstrakte Klassen/GeometrischeFiguren/dist/
/Filehandling/RandomAccessFile/nbproject/private/
/Adressverwaltung/nbproject/private/
/Adressverwaltung/build/
/Adressverwaltung/dist/
/Interfaces/Adressverwaltun_old/nbproject/private/
/Interfaces/Adressverwaltun_old/build/
/Interfaces/Adressverwaltun_old/dist/
/Interfaces/Adressverwaltung_int/nbproject/private/
/Interfaces/Adressverwaltung_int/build/
/Interfaces/Adressverwaltung_int/dist/
/Enum/Adressverwaltung_enum/nbproject/private/
/Enum/Adressverwaltung_enum/build/
/jTables/Adressverwaltung_enum/nbproject/private/
/jTables/Adressverwaltung_jTable/nbproject/private/
/jTables/Adressverwaltung_jTable/build/
/jTables/Adressverwaltung_jTable/dist/
/Übungen/Vehikelverwaltung/nbproject/private/
/Übungen/Vehikelverwaltung/build/
/Übungen/Vehikelverwaltung/dist/
/Übungen/Mitgliederverwaltung/nbproject/private/
/Übungen/Mitgliederverwaltung/build/
/Übungen/Adressverwaltung2.0/nbproject/private/
/DB-Zugriff/Adressverwaltung_db/nbproject/private/
/DB-Zugriff/Adressverwaltung_db/build/
/DB-Zugriff/Adressverwaltung_db/dist/
/DB-Zugriff/Adressverwaltung_jTable/build/
/DB-Zugriff/Adressverwaltung_jTable/dist/
/DB-Zugriff/Adressverwaltung_jTable/nbproject/private/
/DB-Zugriff/Adressverwaltung_jTable_db/nbproject/private/
/DB-Zugriff/Adressverwaltung_jTable_db/build/
/DB-Zugriff/Adressverwaltung_jTable_db/dist/
/DB-Zugriff/Adressverwaltung/build/
/DB-Zugriff/Adressverwaltung/dist/
/DB-Zugriff/Adressverwaltung/nbproject/private/
/DB-Zugriff/Adressverwaltung_AppControlloer/nbproject/private/
/DB-Zugriff/Adressverwaltung_AppControlloer/build/
/DB-Zugriff/Adressverwaltung_AppControlloer/dist/
/DB-Zugriff/Stadtverwaltung/nbproject/private/
/DB-Zugriff/Stadtverwaltung/build/
/1. Jahr SE/DB-Zugriff/Stadtverwaltung/dist/
